<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultura Inteligente</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Selecione um Controlador</h1>
        <div class="controllers">
            <a href="/controller/lighting" class="controller">
                <img src="../static/img/light_sensor.png" alt="Iluminação" class="icon">
                <p>Controlador de Iluminação</p>
            </a>
            <a href="/controller/cooling" class="controller">
                <img src="../static/img/cooling_sensor.png" alt="Refrigeração" class="icon">
                <p>Controlador de Refrigeração</p>
            </a>
            <a href="/controller/irrigation" class="controller">
                <img src="../static/img/irrigation_sensor.png" alt="Irrigação" class="icon">
                <p>Controlador de Irrigação</p>
            </a>
            </a>
        </div>

    </div>
</body>
</html>
