<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ativar/Desativar Atuadores</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Voltar</a></li>
            <li><a href="{{ url_for('controller_data', controller_id=selected_controller) }}">Dados em Tempo Real</a></li>
            <li><a href="{{ url_for('control_sensors', controller_id=selected_controller) }}">Ativar/Desativar Sensores</a></li>
            <li><a href="{{ url_for('control_actuators', controller_id=selected_controller) }}">Ativar/Desativar Atuadores</a></li>
        </ul>
    </nav>
    

    <div class="main-container">
        <div class="form-container">
            <h2>Ativar/Desativar Atuador</h2>
            <form method="POST" action="{{ url_for('control_actuators', controller_id=selected_controller) }}">
                <label for="action">Ação:</label>
                <select id="action" name="action">
                    <option value="on">Ligar</option>
                    <option value="off">Desligar</option>
                </select>
                <button type="submit">Enviar</button>
            </form>
            
        </div>
    </div>
</body>
</html>
